<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.opensixen.swing.OrderHelperContentProvider"
         name="Sales Order"
         point="org.opensixen.osgi.interfaces.IHelperContentProvider">
      <provider
            class="org.opensixen.swing.OrderHelperContentProvider"
            windowName="Sales OrderX">
      </provider>
   </extension>
   <extension
         id="org.opensixen.swing.ElementValueHelperContentProvider"
         name="Account Element"
         point="org.opensixen.osgi.interfaces.IHelperContentProvider">
      <provider
            class="org.opensixen.swing.AccountDataHelperContentProvider"
            windowName="Account ElementX">
      </provider>
   </extension>
   <extension
         id="org.opensixen.swing.AccountViewer"
         point="org.opensixen.osgi.interfaces.IAccountViewer">
      <viewer
            class="org.opensixen.swing.AccountViewer">
      </viewer>
   </extension>
   <extension
         id="org.opensixen.swing.OrderLinesHelperContentProvider"
         point="org.opensixen.osgi.interfaces.IHelperContentProvider">
      <provider
            class="org.opensixen.swing.OrderLinesHelperContentProvider"
            windowName="Sales OrderX">
      </provider>
   </extension>
   <extension
         point="org.opensixen.osgi.interfaces.IMenuAction">
      <client
            class="org.opensixen.core.client.P2MenuAction">
      </client>
   </extension>
   <extension
         id="org.opensixen.core.client.RecordNoteAppsAction"
         name="org.opensixen.core.client.RecordNoteAppsAction"
         point="org.opensixen.osgi.interfaces.IAppsAction">
      <appsAction
            class="org.opensixen.core.client.RecordNoteAppsAction">
      </appsAction>
   </extension>

</plugin>
